<div id='sidebar' class='inactive'>
  <div class='inner'>

    <!-- Search -->
    <section id='search' class='alt'>
      <form method='post' action='#'>
        <input type='text' name='query' id='query' placeholder='Search' />
      </form>
    </section>

    <!-- Menu -->
    <nav id='menu'>
      <!-- <header class="major">
                <h2>Menu</h2>
            </header> -->
      <ul>
        <li><a href='#'>Homepage</a></li>
        <li><a href='<!--contract.html-->'>Contracts</a></li>
        <li><a href='<!--elements.html-->'></a></li>

      </ul>
    </nav>

  </div>
</div>