<section id='banner'>
  <div class='content'>
    <!-- <header> -->
    <h2>Triển khai web bán hàng</h2>
    <p>Công ty ABC</p>
    <!-- </header> -->
    <strong>Mô tả: </strong>nothing<br /><br />
    <ul class='actions'>
      <li><a href='#' class='button small'>Xem thêm</a></li>
    </ul>
  </div>
</section>
<section id='banner'>
  <div class='content'>
    <header>
      <h2>Triển khai web bán hàng</h2>
      <p>Công ty ABC</p>
    </header>
    <strong>Mô tả: </strong>nothing<br /><br />
    <ul class='actions'>
      <li><a href='#' class='button small'>Xem thêm</a></li>
    </ul>
  </div>
</section>
<section id='banner'>
  <div class='content'>
    <header>
      <h2>Triển khai web bán hàng</h2>
      <p>Công ty ABC</p>
    </header>
    <strong>Mô tả: </strong>nothing<br /><br />
    <ul class='actions'>
      <li><a href='#' class='button small'>Xem thêm</a></li>
    </ul>
  </div>
</section>